@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: --tw-sky-500;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;
  }
  
  .nav-link:hover::after {
    transform: scale(1);
  }
  